.wrapper {
	min-height: 100dvh;
	display: grid;
	place-content: center;
}

.container {
	max-width: 768px;
	margin: 0 auto;
	padding: 0 1.25em;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.title {
	text-align: center;
	color: #fff;
	text-shadow: 3px 3px 3px #000;
	margin: 0;
}

.card {
	max-width: 600px;
	height: 280px;
	background-image: url('/rectangle.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 0;
	display: grid;
	place-content: center;
}

.card__body {
	padding: 0 1.25em;
	opacity: 0;
	transform: scale(0);
}

.animate {
	opacity: 1;
	transform: scale(1);
	animation: appear 1s forwards;
}

.card__quote {
	font-size: 24px;
	color: #ccc;
}

.card__text {
	margin: 0;
	text-align: center;
	color: #333;
}

.blockquote-footer {
	margin-top: 10px;
	font-style: italic;
	font-size: 1em;
	color: #6c757d;
	text-align: center;
}

.btn {
	width: fit-content;
	margin: 0 auto;
	padding: 1em 2em;
	background-color: #ffffff5b;
	backdrop-filter: blur(5px);
	border: 2px solid white;
	border-radius: 8px;
	cursor: pointer;
}

@keyframes appear {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
